[Unit]
Description=Automatically Sync Pacman
Wants=git-auto-fetch.timer

[Service]
Type=oneshot
ExecStart=yay -Syy

[Install]
WantedBy=default.target
