- name: Dotfiles with Dotbot Management
  block:
    - name: Check if dotfiles repository exists
      stat:
        path: "{{ ansible_facts['env']['HOME'] }}/dotfiles"
      register: repo_exists

    - name: Clone dotfiles repository (with Dotbot submodule)
      when: not repo_exists.stat.exists
      git:
        repo: "git@github.com:{{ github_username }}/dotfiles.git"
        dest: "{{ ansible_facts['env']['HOME'] }}/dotfiles"
        recursive: yes   # Clones submodules like dotbot
        version: master

    - name: Update dotfiles repository
      when: repo_exists.stat.exists
      git:
        repo: "git@github.com:{{ github_username }}/dotfiles.git"
        dest: "{{ ansible_facts['env']['HOME'] }}/dotfiles"
        recursive: yes
        update: yes
        force: yes

    - name: Run Dotbot to install/symlink everything
      command: "{{ ansible_facts['env']['HOME'] }}/dotfiles/install"
      args:
        chdir: "{{ ansible_facts['env']['HOME'] }}/dotfiles"
      changed_when: true   # Dotbot doesn't always report cleanly

    # Optional: Add tags for selective runs
  tags: dotfiles