---

- name: Create local directory structure
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ ansible_user_dir }}/.config"
    - "{{ ansible_user_dir }}/.local/bin"
    - "{{ ansible_user_dir }}/.ssh"

- name: Deploy dotfiles via symlink
  file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ ansible_user_dir }}/{{ item.dest }}"
    state: link
    force: yes
  loop:
    - { src: 'shell/.zshrc', dest: '.zshrc' }
    - { src: 'shell/.bashrc', dest: '.bashrc' }
    - { src: 'ssh/config', dest: '.ssh/config' }
    - { src: 'configuration/', dest: '.config/' }
    - { src: 'bin/', dest: '.local/bin/' }

- name: Apply templated configurations
  template:
    src: makepkg.conf.j2
    dest: "{{ ansible_user_dir }}/.makepkg.conf"
    mode: '0644'

- name: Setup User Systemd services
  copy:
    src: systemd/
    dest: "{{ ansible_user_dir }}/.config/systemd/user/"
    mode: '0644'