---
# SPDX-License-Identifier: MIT-0
# tasks file for etc_files
#
#

- name: Mask systemd services - lvm
  ansible.builtin.systemd:
    name: "{{ item }}"
    masked: true
  become: true
  with_items:
    - lvm2-lvmetad.service
    - lvm2-lvmetad.socket
    - lvm2-monitor.service
  when: disable_lvm

- name: Mask systemd services - systemd homed
  ansible.builtin.systemd:
    name: "{{ item }}"
    masked: true
  become: true
  with_items:
    - systemd-homed.service
    - systemd-userdbd.service
    - systemd-userdbd.socket
  when: disable_systemd_homed

- name: Deploy sshd_config
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"
    backup: true
    validate: "/usr/sbin/sshd -t -f %s"
  when: 0 > 1
  notify: Restart sshd
- name: Deploy sysctl.conf
  ansible.builtin.template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.conf
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"
  notify: Reload sysctl
  when: false
- name: Deploy pacman.conf
  ansible.builtin.template:
    src: pacman.conf.j2
    dest: /etc/pacman.conf
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"
  when: false
# - name: Deploy /etc templates
#   ansible.builtin.template:
#     src: "{{ item.src }}"
#     dest: "{{ item.dest }}"
#     owner: root
#     group: root
#     mode: "0644"
#     backup: true
#   loop:
#     - { src: "sshd_config.j2", dest: "/etc/ssh/sshd_config" }
#     - { src: "sysctl.conf.j2", dest: "/etc/sysctl.conf" }
- name: Deploy configuration files from role to /etc
  become: true
  when: false
  ansible.builtin.copy:
    src: "{{ role_path }}/files/" # Trailing '/' copies *contents* recursively
    dest: /etc/
    owner: root
    group: root
    mode: preserve # Preserves original file modes; directories get default (0755 usually)
    backup: true # Backs up remote files before overwriting if changed
  notify:
    - Reload systemd
    - Reload sysctl
    - Reload udev
    - Reload tmpfiles
