{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "What is your full name" -}}

[merge]
    command = "meld"
    args = [
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}"
    ]

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    is_work = {{ contains "work" .chezmoi.hostname }}
    is_linux = {{ eq .chezmoi.os "linux" }}
    is_darwin = {{ eq .chezmoi.os "darwin" }}

[diff]
    exclude = ["scripts"]
    pager = "delta"

[status]
    exclude = ["always"]
