config/gtk-3.0/settings.ini
config/hypr/machine.conf
config/nvim/lazy-lock.json
config/hypr/machine.conf
config/nvim-modular/lazy-lock.json
**/fish_variables
config/hypr/colors.conf
config/gtk-3.0
config/gtk-4.0
config/kitty/colors-matugen.conf
config/ml4w/colors
config/nwg-dock-hyprland/colors.css
config/ohmyposh/EDM115-newline.omp.json
config/ohmyposh/colors.json
config/qt6ct/qt6ct.conf
config/rofi/colors.rasi
config/swaync/colors.css
config/walker/colors.css
config/waybar/colors.css
config/wlogout/colors.css
config/nvim-astro/lazy-lock.json

bitSheriff
configuration/.termux/shell
configuration/.config/shell/secrets
configuration/.config/hypr/monitors.conf
configuration/.config/hypr/workspaces.conf
**/**.log
configuration/.config/espanso/match/email.yml
configuration/.config/1Password
configuration/.config/peaclock/history
**.md5
bin/clone-repositories.sh
bin/datengrab_copy
configuration/.config/gurk/gurk.toml
configuration/.config/iamb/config.toml
configuration/.ssh/hosts
configuration/.ssh
configuration/.config/qutebrowser/bookmarks/urls
configuration/.config/qutebrowser/__pycache__
configuration/.config/qutebrowser/quickmarks
configuration/.config/systemd/user/default.target.wants
configuration/.config/zed/settings_backup.json
configuration/.config/television/cable
configuration/.config/Typora
configuration/.config/copyq
configuration/.config/mpd/database
.ansible/.lock

*.dat

ansible-playbook
config/mpd/database
config/copyq/copyq.lock
config/copyq/copyq_geometry.ini
config/copyq/copyq_tabs.ini
