---
- name: Ensure dotfiles repo exists
  ansible.builtin.stat:
      path: "{{ dotfiles_repo }}"
  register: dotfiles_repo_stat

- name: Fail if dotfiles repo is missing
  ansible.builtin.fail:
      msg: "Dotfiles repo not found at {{ dotfiles_repo }}"
  when: not dotfiles_repo_stat.stat.exists

############################################################
# Symlink dotfiles
############################################################

- name: Link dotfiles
  ansible.builtin.file:
      src: "{{ dotfiles_shell_dir }}/{{ item }}"
      dest: "{{ ansible_env.HOME }}/.{{ item }}"
      state: link
      force: true
      backup: true
  loop: "{{ dotfiles_files }}"

############################################################
# ~/bin
############################################################

- name: Ensure ~/bin exists
  ansible.builtin.file:
      path: "{{ ansible_env.HOME }}/bin"
      state: directory
      mode: "0755"

- name: Link bin scripts
  ansible.builtin.file:
      src: "{{ item }}"
      dest: "{{ ansible_env.HOME }}/bin/{{ item | basename }}"
      state: link
      force: true
  with_fileglob:
      - "{{ dotfiles_shell_dir }}/bin/*"

- name: Run stow
  shell: "stow . --target {{ ansible_env.HOME }} --verbose=2"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'
  environment:
      PATH: "/opt/Homebrew/bin:{{ ansible_env.PATH }}"
