[user]
	name = Rok Kambic
	email = rok.kambic@gmail.com\n
[credential]
	helper = cache
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[alias]
	wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
	wtr = "!f() { git worktree remove \"../$1\"; }; f"
	wtl = "!f() { git worktree list; }; f"
