
# Helpful aliases
alias c='clear' # clear terminal
alias l='eza -lh --icons=auto --hyperlink' # long list
alias ls='eza -1 --icons=auto --hyperlink' # short list
alias ll='eza -lha --icons=auto --sort=name --group-directories-first --hyperlink' # long list all
alias ld='eza -lhD --icons=auto --hyperlink' # long list dirs
alias lt='eza --icons=auto --tree --hyperlink' # list folder as tree
alias pql='yay -Ql'
alias pqo='yay -Qo'

# Directory navigation shortcuts
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# Always mkdir a path (this doesn't inhibit functionality to make a single dir)
alias mkdir='mkdir -p'
alias ip='ip -c'
alias lsusb=cyme

alias s='kitten ssh'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias cze='chezmoi edit'
alias cza='chezmoi add'
alias czc='chezmoi cd'
alias sf='sudo fish'

alias ip='ip --color=always'

alias wcolor="watch -ctn 1"

