[user]
  name  = Rok Kambic
  email = rok.kambic@gmail.com

[credential]
  helper = cache

[init]
  defaultBranch = master

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autoStash = true

[status]
  short  = true
  branch = true

[commit]
  gpgsign = false

[worktree]
  guessRemote = true

[core]
  editor = nvim
	autocrlf = input
  # autocrlf = false

[color]
  ui = always

[color "branch"]
  current = cyan reverse
  local   = yellow
  remote  = green

[color "status"]
  added     = yellow
  changed   = cyan
  untracked = red

[diff]
  tool = icdiff
  # colorMoved = zebra

[difftool]
  prompt = false

[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[pretty]
  custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
  # │        │            │            │             └─ author
  # │        │            │            └─ message
  # │        │            └─ date (relative)
  # │        └─ decorations
  # └─ abbreviated hash

[alias]
  # Tracking / staging
  show-tracked = ls-tree --name-only -r HEAD
  stage        = add -u
  track        = add -N
  unstage      = reset --
  untrack      = rm --cached

  # Shortcuts
  a   = add
  b   = branch -vva
  c   = commit -am
  cs  = commit -S -am
  cl  = clone
  co  = checkout
  df  = icdiff
  dt  = difftool
  f   = fetch --all
  l   = log --oneline --decorate=full -n 40
  lg  = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m   = merge
  p   = push
  r   = remote -v
  s   = status
  sl  = status --long
  st  = stage
  t   = track
  up  = pull
  ust = unstage
  ut  = untrack

  # Compound / shell aliases
  aa = !"git add -u && git add ."
  fc = "!f() { git log --pretty=format:'* %C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%cn>%Creset' --decorate --date=relative --grep=$1; }; f"
  fs = "!f() { git log --pretty=format:'* %C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%cn>%Creset' --decorate --date=relative -S$1; }; f"

  contributors = shortlog -n -s
  remotes      = remote -v
  graph        = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n %cd%n %cn%C(blue) (%ce) %C(cyan)[gpg:%GK %G?]%C(reset)%n %s%n"
  clone-for-worktrees = !sh /home/kamba/bin/git-clone-bare-for-worktrees.sh

# URL rewrites
[url "git@github.com:"]
  insteadOf     = gh:
  insteadOf     = git://github.com
  pushInsteadOf = github:
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[url "git://github.com/"]
  insteadOf = github:

[url "git@gist.github.com:"]
  insteadOf     = gst:
  pushInsteadOf = gist:
  pushInsteadOf = git://gist.github.com/
  pushInsteadOf = https://gist.github.com/

[url "git://gist.github.com/"]
  insteadOf = gist:
