---
- name: Skip zsh role if disabled
  ansible.builtin.meta: end_role
  when: not enable_zsh | default(true)

- name: Install Oh My Zsh
  ansible.builtin.command: >
    sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    --unattended
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh"
