* {
    font-family: "Dejavu Sans", "M+1Code Nerd Font Propo";
    font-size: 13px;
}

window#waybar {
    background-color: #242424;
    color: #ffffff;
    border: 0px solid #77767b;
    border-radius: 0px;
}

#cava.silent {
    color: #242424;
}

#cava,
#tray,
#workspaces,
#window,
#mpris,
#clock,
#idle_inhibitor,
#battery,
#backlight,
#cpu,
#memory,
#network,
#wireplumber {
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#workspaces button,
#workspaces button.active {
    color: #ffffff;
    padding: 0px;
}

tooltip {
    background: #242424;
    font-size: 10px;
    border: 1px solid #77767b;
    border-radius: 0px;
}
tooltip label {
    color: #ffffff;
}
