
/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

@define-color color0       #443A3A;
@define-color color1       #443627;
@define-color color2       #88421F;
@define-color color3       #7A6B4B;
@define-color color4       #BA744C;
@define-color color5       #C0A98A;
@define-color color6       #FCD4CE;
@define-color color7       #F5E1DE;
@define-color color8       #AC9E9B;
@define-color color9       #443627;
@define-color color10      #88421F;
@define-color color11      #7A6B4B;
@define-color color12      #BA744C;
@define-color color13      #C0A98A;
@define-color color14      #FCD4CE;
@define-color color15      #F5E1DE;
@define-color background   alpha(#1C1313,0.5);
@define-color foreground   #FEF0EE;

@define-color background-darker rgba(30, 31, 41, 230);
@define-color selection       #44475a;
@define-color comment         #6272a4;
@define-color cyan            #8be9fd;
@define-color green           #50fa7b;
@define-color green-darker    #206431;
@define-color orange          #ffb86c;
@define-color pink            #ff79c6;
@define-color purple          #bd93f9;
@define-color red             #ff5555;
@define-color yellow          #f1fa8c;
@define-color blue            #133e7c;

/* Vaporwave */
@define-color neon-pink       #ff00c1;
@define-color neon-purple     #9600ff;
@define-color neon-blue       #4900ff;
@define-color neon-light-blue #00b8ff;
@define-color neon-cyan       #00fff9;

/* Shades of Purple vscode-theme */
@define-color sop-background       #2D2B55;
@define-color sop-background-dark  #1E1E3F;
@define-color sop-foreground       #A599E9;
@define-color sop-hover-background #4D21FC;
@define-color sop-contrast         #FAD000;
@define-color sop-contrast-lite    #FFEE80;
@define-color sop-contrast-lite-2  #FAEFA5;
@define-color sop-highlight        #FF7200;
@define-color sop-comment          #B362FF;
@define-color sop-constants        #FF628C;
@define-color sop-keywords         #FF9D00;
@define-color sop-other            #9EFFFF;
@define-color sop-strings          #A5FF90;
@define-color sop-templates        #3AD900;
@define-color sop-definitions      #FB94FF;
@define-color sop-invalid          #EC3A37;
@define-color sop-diff-added       #00FF00;
@define-color sop-diff-removed     #FF000D;

/* Eldritch Theme (Lovecraftian Horror) */
@define-color eldritch-background        #212337;
@define-color eldritch-currentline       #323449;
@define-color eldritch-foreground        #ebfafa;
@define-color eldritch-comment           #7081d0;
@define-color eldritch-cyan              #04d1f9;
@define-color eldritch-green             #37f499;
@define-color eldritch-orange            #f7c67f;
@define-color eldritch-pink              #f265b5;
@define-color eldritch-purple            #a48cf2;
@define-color eldritch-red               #f16c75;
@define-color eldritch-yellow            #f1fc79;
@define-color eldritch-g_dark            #171928;
@define-color eldritch-bg_highlight      #292e42;
@define-color eldritch-terminal_black    #414868;
@define-color eldritch-fg_dark           #ABB4DA;
@define-color eldritch-fg_gutter         #3b4261;
@define-color eldritch-dark3             #6473B7;
@define-color eldritch-comment           #7081d0;
@define-color eldritch-dark5             #5866A2;
@define-color eldritch-visual            #76639e;
@define-color eldritch-dark_cyan         #10A1BD;
@define-color eldritch-magenta2          #bf4f8e;
@define-color eldritch-magenta3          #722f55;
@define-color eldritch-dark_yellow       #c0c95f;
@define-color eldritch-dark_green        #33C57F;
@define-color eldritch-bright_red        #f0313e;



