---
- name: Detect PCI devices
  ansible.builtin.command: lspci
  register: lspci_result
  changed_when: false

- name: Set GPU and headless facts
  ansible.builtin.set_fact:
      gpu:
          amd: "{{ 'amd/ati' in lspci_result.stdout | lower or 'intel' in lspci_result.stdout | lower }}"
          intel: "{{ 'intel-off' in lspci_result.stdout | lower }}"
          nvidia: "{{ 'nvidia' in lspci_result.stdout | lower }}"
      headless: >-
          {{
            not (
              'vga' in lspci_result.stdout | lower
              or '3d controller' in lspci_result.stdout | lower
              or 'display controller' in lspci_result.stdout | lower
            )
          }}

# Optional debug while developing
# - debug:
#     var: gpu
# - debug:
#     var: headless

- name: Install Xorg (non-headless only)
  community.general.pacman:
      name:
          - xorg-xwayland
      state: present
  become: true
  when: not headless

- name: Install GPU drivers (AMD)
  community.general.pacman:
      name:
          - mesa
          - mesa-utils
          - lib32-mesa
          - lib32-mesa-utils
          - xf86-video-amdgpu
          - libva-mesa-driver
          - vulkan-radeon
          - lib32-vulkan-radeon
          - rocm-hip-runtime
          - rocm-hip-sdk
          - hip-runtime-amd
          - rocm-core
          - rocm-opencl-runtime
          - rocm-opencl-sdk
      state: present
  become: true
  when:
      - gpu.amd
      - not headless

- name: Install GPU drivers (Intel)
  community.general.pacman:
      name:
          - mesa
          - mesa-utils
          - lib32-mesa
          - lib32-mesa-utils
          - xf86-video-intel
          - intel-media-driver
          - libva-intel-driver
          - vulkan-intel
          - lib32-vulkan-intel
          - intel-compute-runtime
          - opencl-clover-mesa
      state: present
  become: true
  when:
      - gpu.intel
      - not headless

- name: Install GPU drivers (Nvidia)
  community.general.pacman:
      name:
          - mesa
          - mesa-utils
          - lib32-mesa
          - lib32-mesa-utils
          - nvidia
          - nvidia-utils
          - lib32-nvidia-utils
          - cuda
          - opencl-nvidia
      state: present
  become: true
  when:
      - gpu.nvidia
      - not headless
