[Unit]
Description=Run pacman-auto-fetch every day

[Timer]
OnBootSec=1day
OnUnitActiveSec=1day
Unit=pacman-auto-fetch.service

[Install]
WantedBy=timers.target
