// ============================================================
//                                               Control Center
// ============================================================

*{
  all:unset;
}

// Main colors
$black: #242424;
$red: #d84b4f;
$yellow: #d8af4b;
$green: #9ed84b;
$blue: #4b91d8;
$magenta: #734bd8;
$cyan: #4bd8a2;
$white: #c6c6c6;
$gray: gray;
$gray-alt: #333333;

// Control Center Main Colors
$cc-fg: $white;
$cc-bg: rgba($color: $black, $alpha: 0.5);
$cc-circular-bg: rgba($color: $gray, $alpha: 0.8);
$cc-text: $white;
$cc-br: rgba(148, 144, 144, 0.4);

// Main container box
.cc-padded-box {
  background-color: rgba($color: $gray, $alpha: 0.4);
  border-radius: 16px;
  padding: 10px;
  border: 1px solid $cc-br;
}

.cc-padded-box-ms{
  min-height: 470px;
  margin-top: 10px;
}

// Smaller boxes containing top widgets
.cc-connectivity-box,
.cc-dnd-box,
.cc-keybright-box,
.cc-weather-box {
  background-color: $cc-bg;
  border-radius: 20px;
  border: 1px solid $cc-br
}
.cc-dnd-box {
  padding-top: 16px;
  padding-bottom: 16px;
}
  
.cc-weather-icon {
  margin-top: 8px;
  font-size: 34px;
  margin-right: 12px;
}
  
.cc-weather-label {
  font-size: 16px;
  font-weight: bold;
  color: $cc-fg;
}

.blue-text {
  color: $blue;
}

.yellow-text {
  color: $yellow;
}

.red-text {
  color: $red;
}
  
.cc-wifi-glyph {
  background: $cc-bg;
}

.cc-bluetooth-circle-glyph {
  color: $cc-bg;
}

.cc-nightcolor-glyph{
  background: $cc-bg;
}
  
.cc-bluetooth-glyph{
  background: $cc-bg;
}

// Actual glyph symbols contained in above circles
.cc-wifi-glyph,
.cc-bluetooth-glyph,
.cc-nightcolor-glyph,
.cc-dnd-glyph {
  font-size: 20px;
  margin-top: 1px;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.cc-wifi-glyph-lb {
  margin-right: 8px;
}

.cc-nightcolor-glyph-lb{
  margin-right: 6px;
}

// Text labels
.cc-title-label, 
.cc-sub-label {
  color: $cc-text;
}

.cc-title-label {
  font-size: 16px;
  font-weight: bold;
}
  
// Slider bars
.cc-slider-box {
  background-color: $cc-bg;
  padding-bottom: 10px;
  padding-left: 12px;
  border-radius: 20px;  
  border: 1px solid $cc-br
}
  
.cc-slider-title {
  font-size: 1.5em;
  padding: 5px; 
  color: $cc-text;
}
  
// Not used in this iteration (for putting symbol on top of slider like mac os)
.cc-slider-label {
  margin-left: 10px;
}
  
// Rounding right ends of sliders & setting thickness (height)
.cc-volbar trough highlight,
.cc-spbribar trough highlight,
.cc-bribar trough highlight {
  min-height: 13px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
  
// Positioning sliders relative to hilts so they line up
.cc-volbar, .cc-bribar {
  margin-left: 117px;
  margin-top: 12px;
}
  
// Color of sliders (swap commented/uncommented for glow)
.cc-volbar trough highlight {
  box-shadow: 0px 0px 5px 5px $green;
  background-color: $green;
  border: 1px solid #FFF;
}
  
.cc-bribar trough highlight {
  box-shadow: 0px 0px 5px 5px $blue;
  background-color: $blue;
  border: 1px solid #FFF;
}
  
// Bluetooth battery circles
.cc-bat-box {
  background-color: $cc-bg;
  border-radius: 20px;
  padding: 8px;
  min-height: 70px;
  border: 1px solid $cc-br;
}
  
.cc-bat-icon {
  font-size: 20;
  margin: 10px;
  color: $white;
}
  
.cc-bat{
  color: $green;
  background-color: $cc-circular-bg;
}

.msc_box {
  min-height: 90px;
  background-color: rgba($color: gray, $alpha: 0.4);
  padding: 15px;
  border-radius: 16px ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $cc-br;
}

.song_btn_prev, .song_btn_next, .song_btn_play {
  font-size: 20px;
  font-weight: normal;
  padding-right: 25px;
}

.song, .song_artist{
  font-size: 14px;
  font-weight : bold;
}

.eltouch{
  margin-top: 39px;
}

.icon-module {
  margin: 0 5px;
  & > &__icon {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free Solid";
  }
}
